/* font-family: 'Eczar', serif; */
/* font-family: 'Gentium Basic', serif; */

/* Page Wrapper/Overall Styling */
body {
  background-color: black;
  color: white;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Eczar', serif;
  letter-spacing: 3px;
}
p, a, label, input, button {
  font-family: 'Gentium Basic', serif;
}
.page-wrapper {

}
/* END Page Wrapper/Overall Styling */
/* Search Bar Styling */
#search-wrapper {
  margin: 10px 10px;
}
input, button {
  font-size: 30px;
}
#search-input,
#search-button-div {
  display: flex;
  justify-content: center;
}
input {
  margin-bottom: 15px;
}
button {
  padding: 5px 20px 5px 20px;
}
/* END Search Bar Styling */
/* Planets Wrapper Styling */
#planets-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#main-header {
  font-size: 100px;
  text-align: center;
  margin: 0px 10px;
  padding-bottom: 10px;
}
/* END Planets Wrapper Styling */
/* Planet Card Styling */
.planet-card{
  line-height: 1.618;
  display: flex;
  width: 30vw;
  height: 25vh;
  min-width: 250px;
  min-height: 250px;
  justify-content: center;
  align-items: center;
}
.planet-card img {
  max-width: 100%;
}
.hide {
  display: none;
}
/* END Planet Card Styling */
/* Planets Full Size Styling */
#planet-full {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.super-hide {
  display: none !important;
  /* the #planet-full above is overriding my display:none */
  /* Perhaps add this CSS prop via JS on click of mini-planets? */
}
.close-full-icon img {
  padding: 10px 10px 0px 0px;
  max-width: 48px;
  max-height: 48px;
  float: right;
}
.planet-full-info {
  margin: 0px;
  padding: 0px;
}
.planet-full-info h1 {
  font-size: 60px;
  letter-spacing: 10px;
  text-align: center;
  margin: 0px;
  padding: 0px;
}
.planet-full-main {
  margin: 0 auto;
  display: block;
}
.planet-full-description {
  /* border: 1px solid blue; */
  font-size: 18px;
  line-height: 1.618;
  margin: 0 auto;
  width: 50%;
}
.planet-full-description p:first-of-type {
  padding: 0 0 10px 0;
  border-bottom: 1px solid darkblue;
}
.center-text {
  text-align: center;
}
/* Planets Full Size Styling */